<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bumin -  Homework</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/css/core.css" rel="stylesheet" type="text/css">
	<link href="/css/components.css" rel="stylesheet" type="text/css">
	<link href="/css/colors.css" rel="stylesheet" type="text/css">
	<link href="/css/extras/animate.min.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	{{{_sections.head}}}
	<script type="text/javascript" src="/js/plugins/notifications/jgrowl.min.js"></script>
	<script type="text/javascript" src="/js/pages/components_notifications_other.js"></script>
	<script type="text/javascript" src="/js/plugins/editors/ace/ace.js"></script>
    <script type="text/javascript" src="/js/core/app.js"></script>
	<script type="text/javascript" src="/js/pages/editor_code.js"></script>
	<script type="text/javascript" src="/js/plugins/extensions/session_timeout.min.js"></script>

	<!-- /theme JS files -->

</head>

<body>

	<!-- Main navbar -->
	{{#if user}}
		{{> navbar}}
	{{/if}}
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">
			<!-- Main sidebar -->
			{{#if user}}
				{{> menu}}
			{{/if}}
			<!-- / main sidebar -->

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
				<div class="content" id="content">
					
						{{{body}}}
					
					


					<!-- Footer -->
					{{> footer}}
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

<!-- Views jquery script -->
{{{_sections.jquery}}}
<!-- /Views jquery script -->

<!-- session timeout js code -->
<script>
	if('{{email}}'){
		

			// Session timeout
			$.sessionTimeout({
				heading: 'h5',
				title: 'Session Timeout',
				message: 'Token is valid for 10 minutes.You must get new token for stay',
				ignoreUserActivity: true,
				warnAfter: 540000,   		//timer for session alert
				redirAfter: 600000, 		// session is closed time
				keepAliveUrl: '/',
				ajaxData: {'email':"{{email}}",'password':"{{password}}"},
				redirUrl: '/logout',
				logoutUrl: '/logout',
				keepBtnText: 'New Token'
			});
	
	}
function setActive(){
	console.log(this);
}
 
	
	</script>
</body>
</html>
